
body {
  background-color: azure;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


.home-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: cornsilk;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border: solid 1px;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4CAF50;
  padding: 10px 20px;
  border-radius: 8px;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.header-icon {
  font-size: 24px;
}


.balance-section {
  text-align: center;
  margin: 20px 0;
}

.balance-amount {
  font-size: 24px;
  font-weight: bold;
  color: #4CAF50;
}


.actions-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 20px 0;
}

.action-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  cursor: pointer;
}

.action-button:hover {
  transform: scale(1.05);
}

.action-icon {
  font-size: 24px;
  color: #4CAF50;
}

.action-label {
  margin-top: 5px;
  font-size: 14px;
}


.send-money {
  text-align: center;
  margin: 20px 0;
}

.input-field {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.pay-button {
  width: 95%;
  padding: 12px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

.pay-button:hover {
  background-color: #45a049;
}


.transactions {
  margin-top: 20px;
}

.transactions ul {
  list-style: none;
  padding: 0;
}

.transaction-item {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  font-size: 14px;
}

.transaction-item.success {
  border-left: 5px solid #4CAF50;
}

.transaction-item.pending {
  border-left: 5px solid #FFC107;
}

.transaction-item.failed {
  border-left: 5px solid #FF5722;
}


.message {
  font-size: 14px;
  color: red;
  margin-top: 10px;
}
